.ipynb_checkpoints/

Old_Files/
Old_runs/


dbpedia/Data_analysis.svg
dbpedia/test.csv
dbpedia/train.csv
dbpedia/DBP_wiki_data.csv
.idea/
.virtual_documents
# Default ignored files
.idea/shelf/
.idea/workspace.xml
# Datasource local storage ignored files
.idea/dataSources/
.idea/dataSources.local.xml
# Editor-based HTTP Client requests
.idea/httpRequests/


**/checkpoint/
**/logs/
**/model
/dbpedia/val.csv
