.ipynb_checkpoints/

Old_Files/
Old_runs/
saved_models/

.virtual_documents
# Default ignored files
.idea/shelf/
.idea/workspace.xml
# Datasource local storage ignored files
.idea/dataSources/
.idea/dataSources.local.xml
# Editor-based HTTP Client requests
.idea/httpRequests/

